@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
::selection {
  background:#c1928b;
    color:#fff;/* WebKit/Blink Browsers */
}
::-moz-selection {
   background:#c1928b;
    color:#fff;/* Gecko Browsers */
}
*{
    box-sizing: border-box;
}
::selection {
  background:#c1928b;
    color:#fff;/* WebKit/Blink Browsers */
}
::-moz-selection {
   background:#c1928b;
    color:#fff;/* Gecko Browsers */
}
nav{
    padding: 0;
    margin: 0;

}
 .navigationBarMobile{
    display: block;
}
.navigationBarDesktop{
    display: none;
}
.navigationBarMobile .navLink{
    font-size: 12px !important;
    padding: 0px !important;
     color:  #060506;
}
.navigationBarMobile .navLink:hover{
     color:  #060506;
}
.jumbotron-header {
 
 padding: 5px 0px;   
 text-align: center;
  top: 0px;
  right: 0;
  left: 0;
  width: 100%;
    background-color:  #060506;
}
.jumbotron-headerMobile{
       background-color:  #ffffff;
}
.menuIcon{
    margin-left: -7px;
}
.mobileNavbar{
    margin-left: 15px;
}

.navLink{
    color:  #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;  
    padding: 0px 10px;
}
.navLink:hover{
    text-decoration: none;
     color:  #ffffff;
    
}
.navLink1{
    color:  #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-transform: lowercase;
    text-decoration: none;
    font-size: 14px;  
    padding: 0px 10px;
}
.navLink1:hover{
    text-decoration: none;
     color:  #ffffff;
    
}

.navLinkStyle{
    list-style-type: none;
}
.container-2{
    background-color: #e9b30e;
    width: 100%;
    padding: 15px 0px;
}
.signLink{
    color: #060506;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;  
    padding: 0px 14px;
}
.signLink:hover{
    text-decoration: none;
     color: #060506;    
}
.signCotainer{
    text-align: right;
    margin-top: -24px;
}
.container-1{
    background-color:#e9b30e;
    width: 100%;
    padding: 12px 0px;
    text-align: center;
    margin: 0px auto;
}
.menuLink{
    color: #060506;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    padding: 0px 6px;
    
}
.menuLink:hover{
    text-decoration: none;
      color: #060506;
}
.dropDownLink{
    color: #060506;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 1px;
}
.dropDownLink:hover{
    color: #e9b30e;
    text-decoration: none;
}
.dropDownLink:focus{
    color: #e9b30e;
    text-decoration: none;
    background-color: transparent;
}
.logoImage{
        width: 120%;
}

.sliderSection{
   margin: 20px 0px; 
}
.sliderSection .carousel-caption{
    bottom: 80px;
    left: 60%;
    position: absolute;
}
.sliderSmallHeading{
     color: #000000;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
}
.tabBorder{
  border: 1px solid #e9b30e;
    padding: 10px;
    height: auto;
}
.searchBar{
    width: 45% !important;
}
.searchButton{
    background-color: #e9b30e;
    color: #ffff;
}
.catagory{
     text-align: center;
     margin: 0px auto;
     color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.catagoryCnt{
    background-color: #e9b30e;
    padding: 10px;
}
.catagoryProduct{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color:  #808080;
    font-size: 14px;
    margin: 4px 0px;
}
.catagoryProduct:hover{
    text-decoration: none;
    color:  #808080;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    color:  #ffffff;
    background-color:#e9b30e; 
}
.sliderSection .carousel-indicators li{
    background-color: #e9b30e;
    height: 5px;
    width: 33px;
}
.browseHeading{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color:  #000000;
    font-size: 18px;
    border-bottom: 2px solid  #e9b30e;
    font-weight: bold;
    
}
.priceRange{
     font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color:  #000000;
    font-size: 14px;
    margin: 2px 0px;
    font-weight: 600;
}
.priceRange:hover{
     color:  #000000;
}








.jumbotron-footer{
   background:#060506 !important;
	border-radius: 0px !important;
	background-repeat: no-repeat;
    background-size: cover;
	text-align:left;
	padding: 100px 0px 100px 0px !important;
    margin: 0px;
}
.jumbotron-footer .container{
    max-width: 1140px;    
}
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }

.footer-heading{
	color: #fff;
	font-size:14px;
	text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
	font-family: 'Montserrat', sans-serif;
 
}
.footer-links{
	color: #eee;
	font-size:12px;
	text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 0px 8px 0px;
    line-height: 32px !important;
}
.footer-links:hover{
	color: #fff !important;
    text-decoration: none;
}
.footer-social-icon{
    color: #fff;
    font-size: 15px;
}
.starting-heading{
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;  
    font-weight: bold;
}
.top-icon-headings{
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 10px;
}
.click-button{
     color:  #003d66;
     font-size: 20px;
     text-decoration: none;
    text-transform: capitalize;
     padding: 8px 4px;
    border-radius: 7px;
    background-image: linear-gradient(to right, #d9d9d9,#fbeab7, #e9b30e);  
}
.click-button:hover{
     text-decoration: none;
}
.clickButtonCont{
    margin: 0px auto;
    text-align: center;
}
.viewDetails{
    font-family: 'Montserrat', sans-serif;
    background-color: #e9b30e;
    color: #ffffff;
    border: none;
}
.viewDetails:hover{
     background-color: #e9b30e;
     color: #ffffff;
}
.viewDetails:focus{
     background-color: #e9b30e;
     color: #ffffff;
}
.viewAllCont{
    text-align: end;
}
.viewAll{
   font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
    color: #000000;
    font-size: 15px;
}
.viewAll:hover{
    text-decoration: none;
     color: #000000;
}
.jumbotron-content-grey{
	background-color: #f2f2f2 !important;
	text-align:center;
	padding: 100px 0px 100px 0px !important;
	margin: 0px !important;
}

.div-background-dark{
	background:#222;
	background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    border-bottom: 1px solid #aaa;	
}
.joining-black-small-heading{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 11px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;   
}
.joining-black-big-heading{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 22px;
    text-decoration: none;   
}
.joining-black-content{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    line-height: 30px;  
}
.white-button{
	color:#000;
	font-size: 12px;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: solid 2px #fff;
    padding: 6px;
    background: #fff;
}
.white-button:hover{
	color:#000 !important;
    text-decoration: none;
 }
.black-link{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 14px;
    text-decoration:underline;
    
}

.black-link:hover{
    color: #fff !important;
    text-decoration: none;   
}
.text-input-newsletter{
    height: 50px;
    width: 90%;
    color: #fff;
    padding: 4px 4px 4px 4px;
    background: #222;
    border: solid 2px #fff;
    padding-right:20px;
    
}
.cardTitleHeading{
    color:#000;
	font-size: 20px;
    font-weight: bold;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
    
}
.cardTitleSubHeading{
    color:#595959;
	font-size: 14px;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}
.cardHeading{
    color:#000;
	font-size: 24px;
    font-weight: bold;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif; 
}




/* Extra small devices (phones, 300px and down)  start*/
@media only screen and (max-width: 300px) {
    
}


/* Extra small devices (phones, 320px and down)  start */
@media only screen and (max-width: 320px) {
    .navLink{
        font-size: 14px;
    }
     .menuLink{
        font-size: 10px;
    }
    .click-button{
         font-size: 12px  !important;
    }

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .div-background-dark{
        padding: 30px;
        border-right: 1px solid white;
    }   
}




/* Medium devices ( 767px and down) start */
@media only screen and (max-width: 767px){ 
    
    .nav-item{
        padding: 8px 0px;
    }
    .logoImage{
        width: 150%;
    }
      .nav-item{
        padding: 8px 0px;
    }
    .card{
        margin-bottom: 20px;
    }
    .sliderSection .carousel-caption{
        display: none;
    }
}



/* Medium devices (landscape tablets, 768px and up)  start*/
@media only screen and (min-width: 768px) {
    .navigationBarDesktop{
         display: block;
    }
    .navigationBarMobile{
        display: none;
    }
     .navigationBarDesktop{
         display: block;
    }
    .menuLink{
       font-size: 9px;
    }
    .starting-heading{
        font-size: 25px;
        letter-spacing: 1px;
    }
     .click-button{
         font-size: 26px  !important;
          padding: 8px 22px  !important;
    }
    .div-background-dark{
         border-left: 1px solid #aaa;
         padding: 100px;   
    }
        
.white-button{
	color:#000;
	font-size: 11px;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: solid 2px #fff;
    padding: 10px 60px 10px 60px;
    background: #fff;
}
.white-button:hover{
	color:#000 !important;
 }
    .sliderSmallHeading{
        font-size: 26px;
    }
}
    

/* Medium devices ( 768px and down) start */
@media only screen and (max-width: 768px){ 

}



/* Large devices (laptops/desktops, 992px and up)  start*/
@media only screen and (min-width: 992px) {
    .menuLink{
       font-size: 10px;
    }
    
}



/* Extra large devices (large laptops and desktops, 1200px and up)  start*/
@media only screen and (min-width: 1200px) {
     .menuLink{
       font-size: 12px;
         padding: 10px;
    }
   
    
}


/* Extra large devices (large laptops and desktops, 1200px and down)  start*/
@media only screen and (max-width: 1200px) {
    
}
